*{
    color: white;
    padding: 0px;
    margin: 0px;
}

.contentBox
{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    
}


#navbar
{
    height: 60px;
    background-color: #0f1111;
}

#logo
{
    font-size: 25px;
    color: #f08804;
}

a
{
    margin-right: 200px;
    text-decoration: none;
}

button
{
    background-color: #f08804;
}

footer
{
    background-color: #0f1111;
    color: white;
    text-align: center;
}

#content
{
    height: 840px;
}